# Python
__pycache__/
*.py[cod]
*$py.class
*.so
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
# Hassas Algoritmalar ve İş Mantığı
app/services/analysis_steps/
app/licensing/
app/views/ui/ui.py
final_design_v3_3.ui
# Marka ve Tasarım Varlıkları


# Lisans ve Anahtar Dosyaları
*.key
*.license
# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.ui
# Logs
logs/
*.log
*.spec